.filter {
  display: flex;
  padding: 0 2rem;
  gap: 15px;
  margin-top: 1rem;
  align-items: center;
}

.filter button {
  border: 1px solid rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 14px;
}

.filter {
}ß
.active {
  background: rgba(
    255,
    255,
    255,
    0.18
  );
  color: #fff; 
}
